/*Petits bails*/

body{
	margin: 0;
}

* {
	box-sizing: border-box;
}

a {
	background-color: transparent;
	color: #12acf0;
	text-decoration: none;
}

a:hover, a:active {
	outline: 0;
}

/*Début header*/

#header_container {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #231F20;
	border-bottom: solid 0.25px #FFF3CE;
}

#block_nav_header{
    margin-bottom: 28px;
}

#block_nav_header a {
    color: #FFF3CE;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 0 0 0 45px;
    transition-duration: 0.7s;
}

#block_nav_header a:hover {
    color: #FFFFFF;
}

#block_logo_header img {
    height: 70px;
    margin-right: 45px;
    margin-bottom: 10px;
}


/*--------------------- PAGE D'ACCUEIL -------------------*/


#body_accueil {
	background: url(../img/le-salon-interieur.jpg) no-repeat center center fixed;
	background-size: cover;
	overflow: hidden;
	cursor: default;
}

#accueil {
    height: 84.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box_blur {
	width: 700px;
	height: 300px;
	position: relative;
	overflow: hidden;
}

#blur {
	background: url(../img/le-salon-interieur.jpg) no-repeat center center fixed;
	background-size: cover;
	width: 730px;
	height: 330px;
	position: relative;
	top: -15px;
	left: -15px;
	-webkit-filter: blur(8px);
	-moz-filter: blur(8px);
	filter: blur(8px);
}

#color_white {
	background: rgba(255, 255, 255, .60);
	width: 730px;
	height: 330px;
}

#profile {
	width: 700px;
	height: 300px;
	position: relative;
	top: -330px;
	border-radius: 8px;
}

#contenu_box_acc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#contenu_box_acc h1 {
    color: #231F20;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 2px;
    margin: 0;
}

#contenu_box_acc p {
    color: #231F20;
    font-family: 'Raleway', sans-serif;
    font-size: 20.5px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 0;
    margin-top: 2vh;
    margin-bottom: 4vh;
}

#contenu_box_acc a {
    color: #FFF3CE;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    border: 2px solid #231F20;
    padding: 12px 70px;
    border-radius: 15px;
    background-color: #231F20;
    transition-duration: 0.7s;
}

#contenu_box_acc a:hover {
    color: #231F20;
    border: 2px solid #231F20;
    background-color: #FFF3CE;
}


/*--------------------- PAGE NOUS CONTACTER -------------------*/



#nous_contacter {
    height: 84.5vh;
}

#ctc_block {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#map {
    height: 100%;
    width: 100vh;
}

#ctc_info {
    height: 100%;
    width: 100vh;
    background-color: #231F20;
    padding: 11vh;
}

#contact_title h1 {
    font-family: 'Raleway';
    font-weight: 700;
    letter-spacing: 2px;
    color: #FFF3CE;
    font-size: 24px;
}

#contact_title p {
    font-family: 'Raleway';
    font-weight: 300;
    letter-spacing: 2px;
    color: #FFF3CE;
    font-size: 15px;
}

#contact_calendar, #contact_phone, #contact_location {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10vh;
}

#contact_phone {
    padding-left: 5px;
}

.column_day {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.day_calendar {
    font-family: 'Raleway';
    font-weight: 700;
    letter-spacing: 2px;
    color: #FFF3CE;
    font-size: 15px;
    margin: 0;
    margin-bottom: 10px;
} 

.hr_calendar {
    font-family: 'Raleway';
    font-weight: 300;
    letter-spacing: 2px;
    color: #FFF3CE;
    font-size: 15px;
    margin: 0;
    margin-top: 10px;
} 

#calendar_svg {
    fill: #FFF3CE;
    height: 40px;
    width: 40px;
    padding: 0;
}

#phone_svg {
    fill: #FFF3CE;
    height: 30px;
    width: 30px;
    padding: 0;
}

#contact_phone p {
    font-family: 'Raleway';
    font-weight: 300;
    letter-spacing: 2px;
    color: #FFF3CE;
    font-size: 15px;
    margin: 0;
    margin-left: 54px;
} 

#location_svg {
    fill: #FFF3CE;
    height: 40px;
    width: 40px;
    padding: 0;
}

#contact_location p {
    font-family: 'Raleway';
    font-weight: 300;
    letter-spacing: 2px;
    color: #FFF3CE;
    font-size: 15px;
    margin: 0;
    margin-left: 50px;
}

/*--------------------- PAGE EQUIPE -------------------*/

#equipe {
    height: 84.5vh;
}

#photo_equipe {
    height: 100%;
    width: 100vh;
}

#eqp_info {
    height: 100%;
    width: 100vh;
    background-color: #231F20;
    padding: 11vh;
}

#eqp_title h1 {
    font-family: 'Raleway';
    font-weight: 700;
    letter-spacing: 2px;
    color: #FFF3CE;
    font-size: 24px;
}

#eqp_title p {
    font-family: 'Raleway';
    font-weight: 300;
    letter-spacing: 2px;
    color: #FFF3CE;
    font-size: 15px;
    padding: 6vh;
}

#photo_equipe {
    overflow: hidden;
}

#blur_photo_equipe {
    background: url(../img/blur_image.jpeg) no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    transform: scale(1.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

#block_image {
    width: 50%;
}

#image_equipe {
    max-width: 100%;
    height: auto;
}



/*--------------------- PAGE CARTE -------------------*/


.carte {
    height: 84.5vh;
    background-color: #231F20;
}

#carte_title {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#carte_title h1 {
    font-family: 'Raleway';
    font-weight: 700;
    letter-spacing: 2px;
    color: #FFF3CE;
    font-size: 24px;
    margin-bottom: 5vh;
}

#carte_title svg {
    fill: #FFF3CE;
    width: 50px;
}

article {
    display: none;
}

#space_filter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#filter {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filter a {
    color: #231F20;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    border: 2px solid #FFF3CE;
    padding: 12px 70px;
    border-radius: 15px;
    background-color: #FFF3CE;
    cursor: pointer;
}

#filter a:hover {
    color: #FFF3CE;
    border: 2px solid #FFF3CE;
    background-color: #231F20;
}
#filter .active {
    color: #FFF3CE;
    border: 2px solid #FFF3CE;
    background-color: #231F20;
}

.cat_title {
    font-family: 'Raleway';
    font-weight: 700;
    letter-spacing: 2px;
    color: #FFF3CE;
    font-size: 18px;
    margin: 0;
    margin-bottom: 4vh;
}

.row_tarif {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40vh;
    margin-bottom: 2vh;
}

.name_tarif {
    font-family: 'Raleway';
    font-weight: 300;
    letter-spacing: 2px;
    color: #FFF3CE;
    font-size: 16px;
    margin: 0;
}

.price_tarif {
    font-family: 'Raleway';
    font-weight: 700;
    letter-spacing: 2px;
    color: #FFF3CE;
    font-size: 16px;
    margin: 0;
}

.homme_container {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enfant_container {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.femme_container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container_blocks {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.femme_container .container_blocks {
    width: 94%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container_blocks_enfant {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.largeSpace {
    height: 110.5vh;
    background-color: #231F20;
}

/*--------------------- PAGE PARTENAIRES -------------------*/

#partenaires {
    height: 84.5vh;
}

#line_partenaires {
    width: 1px;
    height: 25vh;
    background-color: #FFF3CE;
}

#partenaires_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#svgGHD {
    width: 35vh;
    height: 35vh;
    margin-right: 10vh;
    transition-duration: 0.7s;
}

#svgWella {
    width: 25vh;
    height: 32vh;
    margin-left: 10vh;
    margin-right: 8.8vh;
    transition-duration: 0.7s;
}

#svgGHD:hover, #svgWella:hover {
    transform: scale(1.1);
}

/*--------------------- IMPORTANT ------------------------*/

#responsive-menu-container {
    display: none;
}




/*--------------------- RESPONSIVE FORMAT MOBILE -------------------*/

@media all and (max-device-width: 480px)
{  
    /*--------------------- MENU RESPONSIVE MOBILE -------------------*/
    
    body {
        display: block;
    }
    
    #header_container {
        display: none;
    }
    
    #responsive-menu-container {
        display: flex;
        flex-direction: row;
        background-color: #231F20;
        height: 9vh;
        width: 100%;
        padding: 2vh 3vh 1.5vh 2vh;
        top: 0;
    }
    
    .navbar-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #logo-responsive-menu img {
        width: 185px;
    }
    
    #logo-Inresponsive-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 12vh;
        width: 100%;
    }
    
    #logo-Inresponsive-menu img {
        width: 280px;
    }
    
    .toggle-button {
        padding: 9px 10px;
        margin: 0 15px 8px 0;
        height: 30px;
        width: 45px;
        cursor: pointer;
        z-index: 999;
        position: absolute;
        left: 2vh;
    }

    .bar {
        background-color: #FFF3CE;
        display: block;
        width: 100%;
        height: 2px;
        border: 0;
        -webkit-transition: all .35s ease;
        transition: all .35s ease;
    }
    .bar + .bar {
        margin-top: 7px;
    }
    .middle {
        top: 11px;
    }
    .bottom {
        top: 22px;
    }
    .toggle-button:hover {
        opacity: .7;
    }
    .toggle-active .bar {
        background-color: #FFF3CE;
    }
    .toggle-active .top {
        -webkit-transform: translateY(6px) translateX(0) rotate(45deg);
    }
    .toggle-active .middle {
       opacity: 0;
    }
    .toggle-active .bottom {
        -webkit-transform: translateY(-12px) translateX(0) rotate(-45deg);
    }

    .overlay {
        position: fixed;
        background-color: #231F20;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity .35s, visibility .35s, height .35s;
    }
    .nav-active {
        opacity: 1;
        visibility: visible;
        height: 100%;
        z-index: 444;
    }
    .overlay ul {
        display: block;
        position: relative;
        top: 6vh;
        left: 0;
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        list-style: none;
        padding: 0;
    }
    .overlay ul li {
        display: block;
        padding-bottom: 5vh;       
    }
    .overlay ul li a {
        text-decoration: none;
        color: #FFF3CE;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        letter-spacing: 2px;
    }
    
    /*--------------------- PAGE ACCUEIL - MOBILE -------------------*/
    
    #box_blur {
        width: 95%;
        height: 280px;
    }
    
    #blur {
        background: url(../img/le-salon-interieur.jpg) no-repeat center center fixed;
        background-size: cover;
        width: 110%;
        height: 330px;
        position: relative;
        top: -15px;
        left: -15px;
        -webkit-filter: blur(8px);
        -moz-filter: blur(8px);
        filter: blur(8px);
    }
    
    #color_white {
        background: rgba(255, 255, 255, .60);
        width: 100%;
        height: 330px;
    }
    
    #profile {
        width: 100%;
        height: 300px;
        position: relative;
        top: -330px;
        border-radius: 8px;
    }
    #contenu_box_acc h1 {
        font-size: 2.6vh;
        text-align: center;
    }
    #contenu_box_acc p {
        font-size: 1.85vh;
        text-align: center;
    }
    #contenu_box_acc a {
        color: #FFF3CE;
        font-family: 'Raleway', sans-serif;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 2px;
        border: 2px solid #231F20;
        padding: 12px 60px;
        border-radius: 15px;
        background-color: #231F20;
        transition-duration: 0.7s;
    }
    #contenu_box_acc p {
        margin-bottom: 5vh;
    }
    
    /*--------------------- FOOTER - MOBILE -------------------*/
    
    footer {
        height: 6.5vh !important;
    }
    #copyright_div, #siteURL {
        display: none !important;
    }
    #footer_container {
        width: 100% !important;
        height: 100%;
    }
    footer p {
        font-size: 14px;
    }
    
    /*--------------------- PAGE NOUS CONTACTER - MOBILE -------------------*/
    
    #map {
        display: none;
    }
    
    #responsiveColumnAdapt {
        display: flex;
        flex-direction: column;
    }
    #ctc_info {
        height: 100%;
        width: 100%;
        background-color: #231F20;
        padding: 5vh 4vh 0 4vh;
    }
    
    .day_calendar {
        font-family: 'Raleway';
        font-weight: 700;
        letter-spacing: 2px;
        color: #FFF3CE;
        font-size: 16px;
        margin: 0;
        margin-bottom: 0;
    }
    .column_day {
        display: flex;
        flex-direction: column;
        margin-left: 8vh;
        margin-bottom: 4vh;
    }
    #contact_calendar {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 8vh;
    }
    #contact_phone {
        margin-top: 3vh;
    }
    #contact_location {
        margin-top: 6vh;
    }
    #contact_phone p, #contact_location p {
        margin-left: 8vh;
    }
    #location_svg {
        width: 55px;
    }
    #contact_title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #contact_title p {
        margin: 0;
    }
    
    /*--------------------- PAGE EQUIPE - MOBILE -------------------*/
    
    #ctc_block {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    #eqp_info {
        height: 100%;
        width: 100%;
        background-color: #231F20;
        padding: 5vh 4vh 0 4vh;
    }
    #eqp_title p {
        padding: 2vh;
    }
    #photo_equipe {
        height: 100%;
        width: 100%;
    }
    
    /*--------------------- PAGE CARTE - MOBILE -------------------*/
    
    #carte_title h1 {
        font-size: 20px;
    }
    #filter {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 25vh;
    }
    
    .femme_container {
        width: 100%;
        height: 235vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .femme_container .container_blocks {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .largeSpace {
        height: 280vh !important;
        background-color: #231F20;
    }
    .row_tarif {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 2vh;
    }
    .block_tarifs {
        margin-bottom: 10vh;
    }
    .name_tarif {
        width: 70%;
    }
    
    .carte {
        height: 124vh;
        background-color: #231F20;
    }
    .homme_container {
        width: 100%;
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container_blocks {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .container_blocks_enfant {
        display: flex;
        width: 80%;
        flex-direction: column;
        justify-content: center;
    }
    .enfant_container {
        width: 100%;
        height: 52vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


