/*Petits bails*/

body{
	margin: 0;
}

* {
	box-sizing: border-box;
}

a {
	background-color: transparent;
	color: #12acf0;
	text-decoration: none;
}

a:hover, a:active {
	outline: 0;
}

/*Début header*/

#header_container {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #231F20;
}

#block_nav_header{
    margin-bottom: 28px;
}

#block_nav_header a {
    color: #FFF3CE;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 0 0 0 45px;
    transition-duration: 0.7s;
}

#block_nav_header a:hover {
    color: #FFFFFF;
}

#block_logo_header img {
    height: 70px;
    margin-right: 45px;
    margin-bottom: 10px;
}


/*--------------------- PAGE D'ACCUEIL -------------------*/


#body_accueil {
	background: url(../img/le-salon-interieur.jpg) no-repeat center center fixed;
	background-size: cover;
	overflow: hidden;
	cursor: default;
}

#accueil {
    height: 84.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box_blur {
	width: 700px;
	height: 300px;
	position: relative;
	overflow: hidden;
}

#blur {
	background: url(../img/le-salon-interieur.jpg) no-repeat center center fixed;
	background-size: cover;
	width: 730px;
	height: 330px;
	position: relative;
	top: -15px;
	left: -15px;
	-webkit-filter: blur(8px);
	-moz-filter: blur(8px);
	filter: blur(8px);
}

#color_white {
	background: rgba(255, 255, 255, .60);
	width: 730px;
	height: 330px;
}

#profile {
	width: 700px;
	height: 300px;
	position: relative;
	top: -330px;
	border-radius: 8px;
}

#contenu_box_acc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#contenu_box_acc h1 {
    color: #231F20;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 2px;
    margin: 0;
}

#contenu_box_acc p {
    color: #231F20;
    font-family: 'Raleway', sans-serif;
    font-size: 20.5px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 0;
    margin-top: 2vh;
    margin-bottom: 4vh;
}

#contenu_box_acc a {
    color: #FFF3CE;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    border: 2px solid #231F20;
    padding: 12px 70px;
    border-radius: 15px;
    background-color: #231F20;
    transition-duration: 0.7s;
}

#contenu_box_acc a:hover {
    color: #231F20;
    border: 2px solid #231F20;
    background-color: #FFF3CE;
}


/*--------------------- PAGE NOUS CONTACTER -------------------*/



#nous_contacter {
    height: 84.5vh;
}

#ctc_block {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#map {
    height: 100%;
    width: 100vh;
}

#ctc_info {
    height: 100%;
    width: 100vh;
    background-color: #231F20;
    padding: 11vh;
}

#contact_title h1 {
    font-family: 'Raleway';
    font-weight: 700;
    letter-spacing: 2px;
    color: #FFF3CE;
    font-size: 24px;
}

#contact_title p {
    font-family: 'Raleway';
    font-weight: 300;
    letter-spacing: 2px;
    color: #FFF3CE;
    font-size: 15px;
}

#contact_calendar, #contact_phone, #contact_location {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10vh;
}

#contact_phone {
    padding-left: 5px;
}

.column_day {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.day_calendar {
    font-family: 'Raleway';
    font-weight: 700;
    letter-spacing: 2px;
    color: #FFF3CE;
    font-size: 15px;
    margin: 0;
    margin-bottom: 10px;
} 

.hr_calendar {
    font-family: 'Raleway';
    font-weight: 300;
    letter-spacing: 2px;
    color: #FFF3CE;
    font-size: 15px;
    margin: 0;
    margin-top: 10px;
} 

#calendar_svg {
    fill: #FFF3CE;
    height: 40px;
    width: 40px;
    padding: 0;
}

#phone_svg {
    fill: #FFF3CE;
    height: 30px;
    width: 30px;
    padding: 0;
}

#contact_phone p {
    font-family: 'Raleway';
    font-weight: 300;
    letter-spacing: 2px;
    color: #FFF3CE;
    font-size: 15px;
    margin: 0;
    margin-left: 54px;
} 

#location_svg {
    fill: #FFF3CE;
    height: 40px;
    width: 40px;
    padding: 0;
}

#contact_location p {
    font-family: 'Raleway';
    font-weight: 300;
    letter-spacing: 2px;
    color: #FFF3CE;
    font-size: 15px;
    margin: 0;
    margin-left: 50px;
}

/*--------------------- PAGE EQUIPE -------------------*/

#equipe {
    height: 84.5vh;
}

#photo_equipe {
    height: 100%;
    width: 100vh;
}

#eqp_info {
    height: 100%;
    width: 100vh;
    background-color: #231F20;
    padding: 11vh;
}

#eqp_title h1 {
    font-family: 'Raleway';
    font-weight: 700;
    letter-spacing: 2px;
    color: #FFF3CE;
    font-size: 24px;
}

#eqp_title p {
    font-family: 'Raleway';
    font-weight: 300;
    letter-spacing: 2px;
    color: #FFF3CE;
    font-size: 15px;
    padding: 6vh;
}

#photo_equipe {
    overflow: hidden;
}

#blur_photo_equipe {
    background: url(../img/IMG_2393.JPG) no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    transform: scale(1.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

#block_image {
    width: 50%;
}

#image_equipe {
    max-width: 100%;
    height: auto;
}



/*--------------------- PAGE CARTE -------------------*/


.carte {
    height: 84.5vh;
    background-color: #231F20;
}

#carte_title {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#carte_title h1 {
    font-family: 'Raleway';
    font-weight: 700;
    letter-spacing: 2px;
    color: #FFF3CE;
    font-size: 24px;
    margin-bottom: 5vh;
}

#carte_title svg {
    fill: #FFF3CE;
    width: 50px;
}

article {
    display: none;
}

#space_filter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#filter {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filter a {
    color: #231F20;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    border: 2px solid #FFF3CE;
    padding: 12px 70px;
    border-radius: 15px;
    background-color: #FFF3CE;
    cursor: pointer;
}

#filter a:hover {
    color: #FFF3CE;
    border: 2px solid #FFF3CE;
    background-color: #231F20;
}
#filter .active {
    color: #FFF3CE;
    border: 2px solid #FFF3CE;
    background-color: #231F20;
}

.cat_title {
    font-family: 'Raleway';
    font-weight: 700;
    letter-spacing: 2px;
    color: #FFF3CE;
    font-size: 18px;
    margin: 0;
    margin-bottom: 4vh;
}

.row_tarif {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40vh;
    margin-bottom: 2vh;
}

.name_tarif {
    font-family: 'Raleway';
    font-weight: 300;
    letter-spacing: 2px;
    color: #FFF3CE;
    font-size: 16px;
    margin: 0;
}

.price_tarif {
    font-family: 'Raleway';
    font-weight: 700;
    letter-spacing: 2px;
    color: #FFF3CE;
    font-size: 16px;
    margin: 0;
}

.homme_container {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enfant_container {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.femme_container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container_blocks {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.femme_container .container_blocks {
    width: 94%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container_blocks_enfant {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.largeSpace {
    height: 110.5vh;
    background-color: #231F20;
}






