/*Petits bails*/

body{
	margin: 0;
	height: 100vh;
}

* {
	box-sizing: border-box;
}

a {
	background-color: transparent;
	color: #12acf0;
	text-decoration: none;
}

a:hover, a:active {
	outline: 0;
}

/*Debut footer*/

footer {
	color: #FFF3CE;
	background-color: #231F20;
    height: 5.5vh;
	border-top: solid 0.25px #FFF3CE;
}

/*Tous les p du footer*/

footer p {
	font-family: 'Raleway';
	letter-spacing: 2px;
}

/*Div qui contient les 3 parties du footer pour les disposer en flexbox et avec un margin auto pour la centrer*/

#footer_container {
	width: 60%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center
}

/*Div qui contient le coyright en SVG et les noms*/

#copyright_div {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
}

/*SVG de la div copyright avec son propre id pour pas qu'il ne prenne la taille du SVG de Facebook et inversement*/

#copyright_svg {
	height: 20px;
}

#copyright_div p {
	padding: 0 2px 0 10px;
}

/*Div qui contient le lien facebook et le SVG*/

#facebook_div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#facebook_div, svg {
	height: 25px;
    fill: #FFF3CE;
    padding-left: 10px;
	align-self: center;
}
/*Fin footer*/

/*Page partenaire*/

#partenaires {
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: center;
	background-color: #231f20;
	color: #fff3ce;
	min-height: 83.6vh;
}

#partenaires #partenaires_container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}

/*Fin page partenaire*/

/*Début page actualités*/

#actualites {
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: center;
	background-color: #231f20;
	font-family: 'Raleway';
	letter-spacing: 2px;
	color: #fff3ce;
	min-height: 84.5vh;
}

#actualites_title {
    width: 100%;
    height: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#actualites_container {
	display: flex;
	width: 80%;
	margin: 4% auto;
	padding: 2%;
	background-color: #FFF3CE;
	color: #231F20;
	text-align: left;
}

#actualites_container p {
	padding: 0 2%;
	font-size: 18px;
	letter-spacing: 2px;
}

#actualites_container img {
	box-shadow: 8px 8px 6px #544141;
}

#actualites_message {
	display: flex;
	flex-direction: column;
	margin: 2%;
}

#photo_Salon_Actu img {
    max-width: 100%;
    height: auto;
}

#photo_Salon_Actu {
    width: 350%;
}

/*Fin page actualités*/